xmls/Patient.dtd

<!--?xml version="1.0" encoding="UTF-8"?-->

<!DOCTYPE Patient [
  <!ELEMENT Patient (weight,height,genre,bloodType,dob,admission)>
  <!ATTLIST Patient name CDATA #REQUIRED ssn CDATA #REQUIRED>
  <!ELEMENT weight (#PCDATA)>
  <!ELEMENT height (#PCDATA)>
  <!ELEMENT genre (#PCDATA)>
  <!ELEMENT bloodType (#PCDATA)>
  <!ELEMENT dob (#PCDATA)>
  <!ELEMENT admission (ArrivalTime)>
  <!ATTLIST admission id CDATA #REQUIRED>
  <!ELEMENT ArrivalTime (#PCDATA)>
]>